h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}
h1 {
  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #E67E22;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
.a{
color: #FFD700;
}
.b{
color: #FF0000;
}
.c{
color: #FFC0CB;
}
.e{
  color: #00539F;
}